<div class="ai-left">
	<img class="ai-icon" width="150" height="150" src="{{icon}}" />
	<a href="{{store_url}}" class="ai-btn-small">%%install%%</a><!-- btn btn-inverse nex -->
	<div class="ai-list">
		<div class="ai-subtitle">%%price%%:</div>
		<div class="ai-value">{{formatted_price}}</div>
		<div class="ai-subtitle">%%rating%%:</div>
		<div class="ai-value">{{rating}}</div>
		<div class="ai-subtitle">%%version%%:</div>
		<div class="ai-value">{{version}}</div>
		<div class="ai-subtitle">%%size%%:</div>
		<div class="ai-value">{{size}}</div>
		<div class="ai-subtitle">%%developer%%:</div>
		<div class="ai-value"><a href="{{company_url}}">{{company}}</a></div>
	</div>
</div>
<div class="ai-right">
	<h2 class="ai-title">{{title}}</h2>
	<div class="ai-description">{{summary}}</div>
</div>